.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px; }

.row {
  margin: 0 -15px; }

.row_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
