.features {
  padding-top: 50px;

  &__item {
    display: flex;
    width: 90%;
    margin: 0 auto 40px;

    @media ( min-width: $md) {
        width: calc(33% - 30px);
        margin: 0 15px 95px;
      }
  }

  &__item::before {
    content: url(../img/iphone.png);
  }

  &__info {
    padding-left: 20px;
  }

  &__text {
    display: block;

    font-size: $font-size-sm;
    color: $color-gray;
  }

  @media ( min-width: $md) {
    margin-bottom: 28px;
    padding-top: 111px;
    }
}
