.stats {

  &__row_flex {
    width: 100%;
    margin:0 auto 20px;

    @media ( min-width: $md) {
          margin-bottom:78px;
        }
  }

  @media ( min-width: $md) {
      margin-bottom: 80px;
      }
}

.stats-item {
  width: calc( 50% - 30px);
  margin: 0 15px 30px;
  text-align: center;

  &__icon {
    padding-bottom: 6px;

    font-size: $font-size-main-header;
  }

  &__numb {
    font-weight: $font-weigth-bolder;
    font-size: $font-size-xl;
  }

  &__text {
    font-size: $font-size-xs;
    color: $color-gray;
  }

  @media ( min-width: $md) {
      width: 25%;
      margin: 0;
    }
}

.review {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__avatar {
    display: block;
    width: 105px;
    height: 105px;
    margin:0 auto 15px;
  }

  &__author {
    margin-bottom: 5px;

    font-weight: $font-weigth-bolder;
    font-size: $font-size-lg;
  }

  &__position {
    font-size: $font-size-sm;
    color: $color-gray;
  }

  &__text {
    width: 70%;

    font-size: $font-size-md;
    color: $color-gray;
    text-align: center;

    @media ( min-width: $md) {
          width: 75%;
        }
  }

  &__text:before {
    content: "\2018\2018";
    margin-right: 10px;

    font-size: 40px;
  }

  &__text:after {
    content: "\2019\2019";
    font-size: 40px;
  }
}
