.team {
  padding-top: 50px;

    margin-bottom: 40px;

  &__item {
    width: calc( 100% - 30px );
    margin-bottom: 40px;

    text-align: center;

    &:last-child {
      margin-bottom: 0;
    }

    @media ( min-width: $md) {
          width: calc( 25% - 30px );
          margin: 0 15px;
        }
  }

  &__avatar {
    display: block;
    margin: 0 auto 10px;

    @media ( min-width: $md) {
          margin: 0 auto 37px;
        }
  }

  &__author {
    margin-bottom: 5px;

    font-size: $font-size-lg;
  }

  &__position {

    font-size: $font-size-sm;
    color: $color-gray;
  }

  &__text {
    margin-bottom: 10px;

    font-size: $font-size-xs;

  }

  &__socials {
    display: flex;
    justify-content: center;
  }

  @media ( min-width: $md) {
      margin-bottom: 68px;
      padding-top: 111px;
      }
}
