$font-size-xs: 14px;
$font-size-sm: 16px;
$font-size-md: 20px;
$font-size-lg: 22px;
$font-size-xl: 24px;
$font-size-xxl: 32px;
$font-size-main-header: 48px;

$font-family-icon: "Fontello";
$font-family: "source_sans", "Arial", sans-serif;

$font-weigth-bolder: 400;
$font-weigth-bold: 700;

$color-gray: #888888;

$md: 960px;
